<head>
    <style>
        h2 {
            color: white;
        }

        .containr {
            margin-top: 12%
        }

        .my-button {
            margin: auto;
            cursor: pointer;
            margin-left: 800px;
            text-decoration: none;
            font-size: 12px;
            border-radius: 12px;
            background-color: indianred;
            border: 2px solid indianred;
            padding: 15px 15px;
            color: white;
        }

            .my-button:hover {
                background-color: white;
                color: indianred;
            }


        .gallery p {
            display: block;
            text-align: justify-all;
            margin-left: 270px;
            width: 50%;
            color: black;
            margin-top: 40px;
            font-size: 16px;
        }
    </style>
</head>

<section id="main-content">
    <section class="wrapper">
        <div class="gallery">

            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
            <div class="jumbotron" style="width:1930px; height:800px;">

                <img class="mySlides" src="~/Content/image/megazone media.png" style="width:1930px; height:900px;">
                

            </div>
            <br /><br /><br /><br /><br />

            <p><b><strong>Megazone Media</strong></b> is a branded service provider of all inclusive race, religion and culture. Multi platformed offering a choice of 10 radio stations, we are true to our brand. Our ardent listeners are <b><strong>Spoilt for Choice</strong></b>.

            <p>While we promote the highest quality entertainment and radio, we strive to promote radio advertising accessibility. We recognize that the cost of Radio advertising makes advertising an unaffordable luxury to small businesses and entrepreneurs. </p>

            <p>Unlike our competitors who charge exorbitant fees for the production and flighting of radio adverts and effectively limit radio advertising accessibility to large corporations with limitless budgets, we at Megazone Media have restructured advertising costs to ensure it is accessible to the business who most rely on advertising to transform their business to into a successful venture.</p>

            <p>At <b><strong>Megazone Media</strong></b>, we offer cost effective advertising packages individually tailored to suit the advertising requirements and budget of SMMEs. Our conservative costing is aligned to our brand by promoting all-inclusive entertainment and advertising. We also offer in-house production of radio adverts, scripting and campaign conceptualization and professionally advise you on advertising that will maximize your business potential. We couple this with in-house graphic designing and social media marketing, giving your business the benefit of an all-encompassing marketing solution.         </p>

            <img class="mySlides" src="~/Content/image/logo.jpg" style="width:30%; height:500px; margin-left: 1260px; margin-top: -450px">

            <p>Seal of Superior Advertising  - <b><strong>Megazone Media</strong></b> -  where your business is our business.</p>

            <div class="content">
                <div class="content-desc" style="margin-left: 300px;">
                  
                    <a href="@Url.Action("Index","Contact")">
                        <button type="button" id="btn1">JOIN US<img src="~/Content/image/arrow.png" class="arrow"></button>
                    </a>
                </div>
            </div>

    </section>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

