<!DOCTYPE html>
<html>
<head>

    <style>

        .home {
            margin-left: 270px;
            color: black;
        }

            .home p {
                color: black;
                font-size: 18px;
            }

        /*    .home p{
            margin-top:200px;
        }*/

        .GFG {
            background-color: white;
            color: darkred;
            /* padding: 15px, 20px;  */ /*Corrected padding values */
            cursor: pointer;
            text-align: center;
            margin-left: -1350px;
        }

            .GFG a button {
                border-radius: 12px;
                padding: 13px 17px;
                background-color: grey;
                color: white;
                margin-left: 80px;
                border: 2px solid grey;
            }

            .GFG a:hover button {
                background-color: white;
                color: grey;
            }

        .styling {
            margin-left: 60px;
        }

            .styling a button {
                border-radius: 12px;
                background-color: grey;
                border: 2px solid grey;
                padding: 13px 18px;
                color: white;
            }

            .styling a:hover button {
                background-color: white;
                color: grey;
            }

        .fonts a button {
            margin-top: -500px;
        }

        .ultracol {
            margin-top: -250px;
            margin-left: 205px;
        }

        .ultra {
            margin-left: 145px;
        }

            .ultra a button {
                border-radius: 12px;
                background-color: grey;
                border: 2px solid grey;
                padding: 13px 18px;
                color: white;
            }

            .ultra a:hover button {
                background-color: white;
                color: grey;
            }

        .cassete {
            margin-top: -250px;
            margin-left: 470px;
        }

        .cas {
            margin-left: 140px;
        }

            .cas a button {
                border-radius: 12px;
                background-color: grey;
                border: 2px solid grey;
                padding: 13px 18px;
                color: white;
            }

            .cas a:hover button {
                background-color: white;
                color: grey;
            }

        .diamond {
            margin-top: -255px;
            margin-left: 730px;
        }

        .dia {
            margin-left: 165px;
        }

            .dia a button {
                border-radius: 12px;
                background-color: grey;
                border: 2px solid grey;
                padding: 13px 18px;
                color: white;
            }

            .dia a:hover button {
                background-color: white;
                color: grey;
            }

        .mirchi {
            margin-top: -30px;
            margin-left: -80px;
        }

        .mirc {
            margin-left: 140px;
        }

            .mirc a button {
                border-radius: 12px;
                background-color: grey;
                border: 2px solid grey;
                padding: 13px 18px;
                color: white;
            }

            .mirc a:hover button {
                background-color: white;
                color: grey;
            }

        .megazones {
            margin-top: -245px;
            margin-left: 200px;
        }

        .megasouth {
            margin-left: 150px;
        }

            .megasouth a button {
                border-radius: 12px;
                background-color: grey;
                border: 2px solid grey;
                padding: 13px 18px;
                color: white;
            }

            .megasouth a:hover button {
                background-color: white;
                color: grey;
            }

        .hallellujah {
            margin-top: -250px;
            margin-left: 475px;
        }

        .halle {
            margin-left: 160px;
        }

            .halle a button {
                border-radius: 12px;
                background-color: grey;
                border: 2px solid grey;
                padding: 13px 18px;
                color: white;
            }

            .halle a:hover button {
                background-color: white;
                color: grey;
            }

        .namaste {
            margin-top: -250px;
            margin-left: 760px;
        }

        .nama {
            margin-left: 155px;
        }

            .nama a button {
                border-radius: 12px;
                background-color: grey;
                border: 2px solid grey;
                padding: 13px 18px;
                color: white;
            }

            .nama a:hover button {
                background-color: white;
                color: grey;
            }

        .vilakku {
            margin-top: -30px;
            margin-left: -90px;
        }

        .vila {
            margin-left: 160px;
        }

            .vila a button {
                border-radius: 12px;
                background-color: grey;
                border: 2px solid grey;
                padding: 13px 18px;
                color: white;
            }

            .vila a:hover button {
                background-color: white;
                color: grey;
            }

        .bollywood {
            margin-top: -250px;
            margin-left: 200px;
        }

        .bolly {
            margin-left: 155px;
        }

            .bolly a button {
                border-radius: 12px;
                background-color: grey;
                border: 2px solid grey;
                padding: 13px 18px;
                color: white;
            }

            .bolly a:hover button {
                background-color: white;
                color: grey;
            }

        .radio h1 {
            color: black;
            align-items: center;
            margin-left: 300px;
        }

        .radio h2 {
            color: indianred;
            align-items: center;
            margin-left: 300px;
        }

        .saraghre {
            margin-top: -260px;
            margin-left: 480px;
        }

        .sara {
            margin-left: 170px;
        }

            .sara a button {
                border-radius: 12px;
                background-color: grey;
                border: 2px solid grey;
                padding: 13px 18px;
                color: white;
            }

            .sara a:hover button {
                background-color: white;
                color: grey;
            }


        .yaandein {
            margin-top: -260px;
            margin-left: 800px;
        }

        .yaand {
            margin-left: 145px;
        }

            .yaand a button {
                border-radius: 12px;
                background-color: grey;
                border: 2px solid grey;
                padding: 13px 18px;
                color: white;
            }

            .yaand a:hover button {
                background-color: white;
                color: grey;
            }
    </style>
    @*<br />
        <br />
        <br />*@

</head>
<body>
    <div class="gallery">

        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <div class="jumbotron" style="width:100%; height:500px">
            <!--<-->@*img class="mySlides" src="~/Content/Screenshot 2024-05-28 155149.png" style="width:100%; height:500px">*@

            @*<img class="mySlides" src="~/Content/mega.png" style="width:100%; height:500px">*
                 <img class="mySlides" src="~/Content/megazone media.png" style="width:1930px; height:700px;">
                @*<img class="mySlides" src="~/Content/Black MZM Logo.png" style="width:100%; height:500px">*@
            <img class="mySlides" src="~/Content/1627009824_radio-1200x800.jpg" style="width:1920px; height:820px;">

        </div>
    </div>

    <br /><br /><br /><br /><br />
    <div class="home">
        <br /> <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

        <p>We have something for you, no matter your taste in music, culture or age.</p>
        <p>Download our <b><strong>Megazone Radio App</strong></b> or <b><strong>Stream</strong></b> one of our 12 stations all </p>
        <p>from the palm of your hand.</p>
        <br />
        <!--<img class="mySlides" src="~/Content/megazonehead.jpg" style="width:28%; height:500px; margin-left: 700px; margin-top: -300px">-->
        @*Adding button inside the link tag*@
        <div class="GFG">
            <a href="https://play.google.com/store/apps/details?gl=US&hl=en_ZA&id=com.ndxbroadcast.megazone">
                <button>Download App</button>
            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://megazone.fm/"><button>Listen Live</button></a>
        </div>
        <img class="mySlides" src="~/Content/megazonehead.jpg" style="width:28%; height:500px; margin-left: 700px; margin-top: -250px">
        <br /> <br /> <br /> <br />

        <div class="radio">
            <h1><strong><b>MEGAZONE RADIO</b></strong></h1>
        </div>
        <br /><br /><br />
        <div class="fonts">
            <img src="~/Content/ZRadio.png" style="width:13.5%; height:195px;" alt="">
            <br /> <br />
            <div class="styling">
                <a href="https://app.megazone.fm/hit-radio"><button> Listen Live</button></a>
            </div>

            <div class="ultracol">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="~/Content/ultracol pmg (1).png" style="width: 16%; height: 190px;" alt="">
                <br /> <br />
                <div class="ultra">
                    <a href="https://app.megazone.fm/ultracol"><button> Listen Live</button></a>
                </div>
            </div>

            <div class="cassete">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="~/Content/cassette_radio-removebg-preview.png" style="width: 20%; height: 190px;" alt="">
                <br /><br />
                <div class="cas">
                    <a href="https://app.megazone.fm/cassette-radio"><button> Listen Live</button></a>
                </div>
            </div>

            <div class="diamond">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="~/Content/Diamond_page-0001.jpg" style="width: 30%; height: 200px;" alt="">
                <br /> <br />
                <div class="dia">
                    <a href="https://app.megazone.fm/diamond-radio"><button> Listen Live</button></a>
                </div>
            </div>
            <br /> <br /><br /><br />

            <div class="mirchi">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="~/Content/mirchi_png-removebg-preview (1).png" style="width: 14.5%; height: 185px;" alt="" />
                <br /><br />
                <div class="mirc">
                    <a href="https://app.megazone.fm/mirchi"><button> Listen Live</button></a>
                </div>
            </div>

            @*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*@

            <div class="megazones">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="~/Content/mz_south_png-removebg-preview.png" style="width: 17%; height: 185px;" alt="">
                <br /><br />
                <div class="megasouth">
                    <a href="https://app.megazone.fm/megazone-south"><button> Listen Live</button></a>
                </div>
            </div>

            <div class="hallellujah">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="~/Content/Halleiujah.png" style="width: 22%; height: 195px;" alt="">
                <br /><br />
                <div class="halle">
                    <a href="https://app.megazone.fm/megazone-hallelujah"><button> Listen Live</button></a>
                </div>
            </div>

            <div class="namaste">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="~/Content/radio_namaste_png-removebg-preview.png" style="width: 29%; height: 185px;" alt="">
                <br /> <br />
                <div class="nama">
                    <a href="https://app.megazone.fm/radio-namaste"><button> Listen Live</button></a>
                </div>
            </div>
            <br /><br /><br /><br />
            <div class="vilakku">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="~/Content/vilakku_png-removebg-preview (2).png" style="width: 15%; height: 190px;" alt="">
                <br /> <br />
                <div class="vila">
                    <a href="https://app.megazone.fm/radio-vilakku"><button> Listen Live</button></a>
                </div>
            </div>

            <div class="bollywood">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="~/Content/bollywood_png-removebg-preview.png" style="width: 17.5%; height: 190px;" alt="">
                <br /> <br />
                <div class="bolly">
                    <a href="https://app.megazone.fm/megazone-bollywood"><button> Listen Live</button></a>
                </div>
            </div>

            @*<div class="yaandein">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <img src="~/Content/Radio Yaadein PNG.png" style="width: 17%; height: 190px;" alt="">
                    <br /> <br />
                    <div class="yaand">
                        <a href="https://app.megazone.fm/megazone-bollywood"><button> Listen Live</button></a>
                    </div>
                </div>*@

            <div class="saraghre">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="~/Content/Radio S NB.png" style="width: 24%; height: 200px;" alt="">
                <br /> <br />
                <div class="sara">
                    <a href="https://app.megazone.fm/radio-saranghre"><button> Listen Live</button></a>
                </div>
            </div>

            <div class="yaandein">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="~/Content/Radio Yaadein PNG.png" style="width: 27%; height: 200px;" alt="">
                <br /> <br />
                <div class="yaand">
                    <a href="https://app.megazone.fm/radio-yaadein"><button> Listen Live</button></a>
                </div>
            </div>

        </div>
</body>
</html>
<br />
<br />
<br />
<br />




