<style>
    .mySlides {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

        .mySlides ul {
            display: block;
            margin-left: 0;
            width: 50%;
        }

    .partners {
        background-color: lightgray;
        width: 100%;
        padding: 20px 0;
        text-align: center;
    }

        .partners p {
            color: black;
            font-size: 28px;
        }

    .donor {
        margin-top: -10px;
        margin-left: -1300px;
    }

    .vita {
        margin-top: -150px;
        margin-left: -700px;
    }

    .eye {
        margin-top: -80px;
        margin-left: -100px;
    }

    .vodacom {
        margin-top: -100px;
        margin-left: 400px;
    }

    .fibre {
        margin-top: -130px;
        margin-left: 900px;
    }

    .marshall {
        margin-top: -160px;
        margin-left: 1400px;
    }

    .training {
        margin-left: -1300px;
        margin-top: 100px;
    }

    .my-button {
        display: block;
        margin: auto;
        background-color: lightgrey;
        cursor: pointer;
        border: none;
        padding: 10px 20px;
        text-decoration: none;
        font-size: 12px;
    }

        .my-button:hover {
            background-color: white;
        }


    .gallery p {
        display: block;
        text-align: justify-all;
        margin-left: 270px;
        width: 50%;
    }

    .fm p {
        margin-left: 900px;
        width: 50%;
    }

    .app {
        margin-left: 270px;
    }

        .app a button {
            border-radius: 12px;
            background-color: indianred;
            border: 2px solid indianred;
            padding: 20px 15px;
            color: white;
        }

        .app a:hover button {
            background-color: white;
            color: indianred;
        }

    .us {
        margin-left: 900px;
    }

        .us a button {
            border-radius: 12px;
            background-color: indianred;
            border: 2px solid indianred;
            padding: 20px 15px;
            color: white;
        }

        .us a:hover button {
            background-color: white;
            color: indianred;
        }

    .protect {
        font-size: 32px;
        margin-top: 150px;
        margin-left: 700px;
    }

    .services {
        background-color: black;
    }

    .reg {
        background-color: black;
    }

    .web {
        background-color: black;
    }

        .web p {
            color: white;
            font-size: 30px;
            margin-left: 720px;
        }

    .protect {
        color: white;
    }

    .graphic p {
        color: white;
        font-size: 30px;
        margin-left: 720px;
    }

    .social {
        color: white;
        font-size: 30px;
        margin-left: 720px;
    }

        .social p {
            color: white;
            font-size: 30px;
        }

    .adv {
        color: white;
        font-size: 30px;
        margin-left: 720px;
    }

        .adv p {
            color: white;
            font-size: 30px;
        }

    .protect p {
        color: white;
        font-size: 25px;
    }
</style>


<div class="gallery">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <div class="jumbotron" style="width:100%; height:500px">
        <img class="mySlides" src="~/Content/SUB_CodingProgramming_Hero.jpg" style="width:1930px; height:650px;">
    </div>
</div>

<div class="services">
    <div class="protect">
        <p><strong><b>Protect Your Property</b></strong></p>
    </div>

    <div class="reg">
        <img class="mySlides" src="~/Content/Registration.jpg" style="width:700px; height:400px; margin-left:250px; margin-top:100px;">
        <img src="~/Content/property.gif" alt="" style="width:400px; height:400px; margin-left:1100px; margin-top:-400px;">
    </div>
    <hr />


    <div class="web">
        <p><strong><b>Web Solutions</b></strong></p>
        <img src="~/Content/Web solutions.gif" style="width:700px; height:400px; margin-left:250px; margin-top:100px;">
        <img src="~/Content/next level.png" alt="" style="width:450px; height:400px; margin-left:150px; margin-top:100px;">
    </div>
    <hr />

    <div class="graphic">
        <p><strong><b>Graphic Design & Print</b></strong></p>
        <img src="~/Content/logo and banners.png" style="width:700px; height:400px; margin-left:250px; margin-top:100px;">
        <img src="~/Content/you brand (1).png" alt="" style="width:450px; height:400px; margin-left:150px; margin-top:100px;">
    </div>
    <hr />

    <div class="social">
        <p><strong><b>Social Media</b></strong></p>
        <img src="~/Content/Socialm.png" style="width:700px; height:400px; margin-left:-500px; margin-top:100px;">
        <img src="~/Content/social.png" alt="" style="width:450px; height:400px; margin-left:200px; margin-top:100px;">
    </div>
    <hr />

    <div class="adv">
        <p><strong><b>Radio Advertising</b></strong></p>
        <img src="~/Content/radio services.jpeg" style="width:700px; height:450px; margin-left:-500px; margin-top:100px;">
        <img src="~/Content/radio mic.jpeg" alt="" style="width:520px; height:400px; margin-left:150px; margin-top:100px;">
    </div>


</div>


