<style>
    .shows {
        background-color: #3E3D3D;
        color: white;
    }
</style>
<br />
<br />
<br />

<div class="shows">

    <br /><br /><br /><br /><br /><br /><br /><br /><br />
    <div class="breakfast">
        <img src="~/Content/Breakfast.png" alt="" style="width:27%; height:210px; margin-left:210px;">
    </div>

    <div class="duration">

        <img src="~/Content/breakfast duration.png" alt="" style="width: 30%; height: 210px; margin-left: 900px; margin-top: -230px;">

    </div>

    <hr />

    <div class="mid">

        <img src="~/Content/mid morning.png" alt="" style="width: 25%; height: 230px; margin-left: 210px;">

    </div>

    <div class="mid hours">
        <img src="~/Content/mid duration.png" alt="" style="width: 30%; height: 210px; margin-left: 950px; margin-top: -250px;">
    </div>

    <hr />

    <div class="day">

        <img src="~/Content/midday.png" style="width: 28%; height: 230px; margin-left: 210px;">

    </div>

    <div class="day hours">

        <img src="~/Content/midday duration.png" alt="" style="width: 30%; height: 210px; margin-left: 950px; margin-top: -250px;">

    </div>

    <hr />

    <div class="day">

        <img src="~/Content/JoyRide.png" style="width: 25%; height: 120px; margin-left: 210px; margin-top: 50px;">

    </div>

    <div class="day hours">

        <img src="~/Content/JoyRide duration.png" alt="" style="width: 30%; height: 220px; margin-left: 950px; margin-top: -160px;">

    </div>

    <hr />

    <div class="day">

        <img src="~/Content/EveningTakeover.png" style="width: 30%; height: 220px; margin-left: 210px; margin-top: 50px;">

    </div>

    <div class="day hours">

        <img src="~/Content/Evening dur.png" alt="" style="width: 30%; height: 230px; margin-left: 970px; margin-top: -200px;">

    </div>

    <hr />

    <div class="lounge">

        <img src="~/Content/Lounge.png" style="width: 30%; height: 240px; margin-left: 210px; margin-top: 50px;">

    </div>

    <div class="lounge hours">

        <img src="~/Content/lounge hours.png" alt="" style="width: 30%; height: 230px; margin-left: 970px; margin-top: -230px;">

    </div>

    <hr />

    <div class="MidWeek">

        <img src="~/Content/MidWeek Mashup.png" style="width: 25%; height: 310px; margin-left: 210px; margin-top: 50px;">

    </div>

    <div class="MidWeek hours">

        <img src="~/Content/MidWeek hours.png" alt="" style="width: 30%; height: 230px; margin-left: 970px; margin-top: -380px;">

    </div>

    <hr />

    <div class="Mashup">

        <img src="~/Content/The Mashup.png" style="width: 25%; height: 300px; margin-left: 210px; margin-top: 50px;">

    </div>

    <div class="Mashup hours">

        <img src="~/Content/Mashup hours.png" alt="" style="width: 30%; height: 240px; margin-left: 970px; margin-top: -380px;">

    </div>

    <hr />

    <div class="Mega">

        <img src="~/Content/Megabeat.png" style="width: 20%; height: 280px; margin-left: 220px; margin-top: 50px;">

    </div>

    <div class="Mega hours">

        <img src="~/Content/Megabeat hours.png" alt="" style="width: 30%; height: 250px; margin-left: 970px; margin-top: -250px;">

    </div>

    <hr />

    <div class="Sun">

        <img src="~/Content/Sunrise.png" style="width: 23%; height: 260px; margin-left: 220px; margin-top: 50px;">

    </div>

    <div class="Sun hours">

        <img src="~/Content/14.png" alt="" style="width: 30%; height: 230px; margin-left: 970px; margin-top: -220px;">

    </div>

    <hr />

    <div class="takeover">

        <img src="~/Content/Weekend Takeover.png" style="width: 24%; height: 230px; margin-left: 220px; margin-top: 50px;">

    </div>

    <div class="takeover hours">

        <img src="~/Content/15.png" alt="" style="width: 30%; height: 230px; margin-left: 970px; margin-top: -200px;">

    </div>

    <hr />

    <div class="top">

        <img src="~/Content/Top 20.png" style="width: 18%; height: 240px; margin-left: 220px; margin-top: 50px;">

    </div>

    <div class="top hours">

        <img src="~/Content/16.png" alt="" style="width: 30%; height: 240px; margin-left: 970px; margin-top: -230px;">

    </div>

    <hr />

    <div class="local">

        <img src="~/Content/Lets Go Local.png" style="width: 22%; height: 250px; margin-left: 220px; margin-top: 50px;">

    </div>

    <div class="local hours">

        <img src="~/Content/17.png" alt="" style="width: 30%; height: 240px; margin-left: 970px; margin-top: -230px;">

    </div>

    <hr />

    <div class="zone">

        <img src="~/Content/The Zone.png" style="width: 22%; height: 240px; margin-left: 220px; margin-top: 50px;">

    </div>

    <div class="zone hours">

        <img src="~/Content/19.png" alt="" style="width: 30%; height: 240px; margin-left: 970px; margin-top: -230px;">

    </div>

    <hr />

    <div class="mumbai">

        <img src="~/Content/Mumbai Express.png" style="width: 22%; height: 240px; margin-left: 220px; margin-top: 50px;">

    </div>

    <div class="mumbai hours">

        <img src="~/Content/20.png" alt="" style="width: 30%; height: 240px; margin-left: 970px; margin-top: -230px;">

    </div>

    <hr />

    <div class="sunday">

        <img src="~/Content/Sunday Clique.png" style="width: 30%; height: 160px; margin-left: 220px; margin-top: 50px;">

    </div>

    <div class="sunday hours">

        <img src="~/Content/25.png" alt="" style="width: 30%; height: 200px; margin-left: 970px; margin-top: -160px;">

    </div>

    <hr />

    <div class="mid morning">

        <img src="~/Content/Mid Morning Mayhem.png" style="width: 30%; height: 250px; margin-left: 220px; margin-top: 50px;">

    </div>

    <div class="morning hours">

        <img src="~/Content/26.png" alt="" style="width: 30%; height: 240px; margin-left: 970px; margin-top: -230px;">

    </div>

    <hr />

    <div class="sundowner">

        <img src="~/Content/Sundowner.png" style="width: 25%; height: 220px; margin-left: 220px; margin-top: 50px;">

    </div>

    <div class="sundower hours">

        <img src="~/Content/30.png" alt="" style="width: 30%; height: 210px; margin-left: 970px; margin-top: -180px;">

    </div>

    <hr />
    <div class="desi">
        <img src="~/Content/desi logo.png" style="width: 25%; height: 250px; margin-left: 220px; margin-top: 50px;">
    </div>
    <div class="desi hours">
        <img src="~/Content/31.png" alt="" style="width: 30%; height: 220px; margin-left: 970px; margin-top: -230px;">
    </div>

    <hr />
    <div class="kickback">
        <img src="~/Content/Sunday Kickback.png" style="width: 25%; height: 240px; margin-left: 220px; margin-top: 50px;">
    </div>

    <div class="kickback hours">

        <img src="~/Content/32.png" alt="" style="width: 30%; height: 220px; margin-left: 970px; margin-top: -200px;">
    </div>

    <hr />
    <div class="weekend">
        <img src="~/Content/weekend shutlogo.png" style="width: 25%; height: 240px; margin-left: 220px; margin-top: 50px;">
    </div>
    <div class="top hours">
        <img src="~/Content/33.png" alt="" style="width: 30%; height: 210px; margin-left: 970px; margin-top: -200px;">
    </div>


</div>

